body {
    background: black;
    overflow: hidden;
    margin: 0;
    font-size: 14px;
    font-family:"Helvetica Neue", Helvetica;
}
body.white {
    background:white;
}
div.well {
    position:absolute;
    padding:5px;
    margin-bottom:0;
    width: calc(100%);
    background: rgba(255, 255, 255, .5);
}
